
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
*.csv.gz
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**__init__.py
**venv
*.ipynb
*ny_taxi_postgres_data/
*.csv
*pgadmin_persistent
*.json
*:Zone.Identifier
